#header {
  display: flex;
  justify-content: center;
  font-family: 'Avenir Next W01', sans-serif;
  font-weight: 800;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #DDE3EC;
}

#header ul {
  display: flex;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header li {
  padding: 0 20px;
}

#header a {
  color: #3D404D;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

#header .selected {
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #FFCF77 2%, #FF248C 100%);
  border-image-slice: 0 0 1 0;
}

#header a:hover,
#header a:focus {
  opacity: .8;
}

#header img {
  max-height: 38px;
  margin-right: 20px;
}

#header .light-button {
  margin-left: 40px;
}
