#main-content {
  width: 677px;
  color: #35373B;
}

#main-content h1 {
  margin-top: 0;
  font-size: 36px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EFEFEF;
}

#main-content h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EFEFEF;
}

#main-content h3 {
  margin-top: 30px;
  margin-bottom: 6px;
}

#main-content p {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
}

#main-content a {
  font-weight: 500;
  text-decoration: none;
  color: #4EA0FF;
}

#main-content li {
  line-height: 24px;
}

#main-content code {
  background: #f6f8fa;
  padding: 2px 6px 2px;
  border-radius: 3px;
}

#main-content img {
  margin-top: 40px;
}

#main-content .sub-text {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 80px;
}

#main-content pre {
  display: block;
  padding: 10px 15px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #faf6e4;
  background-color: #122b3b;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 20px;
}

#main-content pre code {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

#main-content .prompt {
  color: #aeaeae;
  user-select: none;
}

#main-content .output {
  color: #00aeff;
  white-space: pre-wrap;
}

#main-content .c {
  font-style: italic;
  color: #8BA7BA;
}

#main-content .info {
  background: #d5e9f6;
  padding: 20px 20px 20px;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 3px;
  margin: 30px 0;
  line-height: 24px;
}

#main-content .note {
  background: #fffbdd;
  padding: 20px 20px 20px;
  border: 1px solid rgba(27,31,35,0.15);
  line-height: 24px;
  border-radius: 3px;
  margin: 30px 0;
}

#main-content .warning {
  background: #f9d9d8;
  padding: 20px 20px 20px;
  border: 1px solid rgba(27,31,35,0.15);
  line-height: 24px;
  border-radius: 3px;
  margin: 30px 0;
}

#main-content .warning h3 {
  margin-top: 0;
}

#main-content .warning p {
  margin-bottom: 0;
}

#main-content .note h3 {
  margin-top: 0;
}

#main-content .note p {
  margin-bottom: 0;
}

#main-content .info h3 {
  margin-top: 0;
}

#main-content .info p {
  margin-bottom: 0;
}

#main-content .label-info {
  background: #fffbdd;
  color: #122b3b;
  padding: 1px;
  font-size: 10px;
  border-radius: 2px;
}

#main-content .video-player {
  margin-bottom: 10px;
}

#main-content .video-sub-text {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  margin-bottom: 30px;
}

#main-content .supported-logos {
  margin-top: 40px;
}

#main-content .logos {
  display: flex;
  margin-bottom: 30px;
}

#main-content .logos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

#main-content .logos div span {
  font-size: 12px;
}

#main-content .logos img {
  width: 45px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#main-content #next-step {
  padding-top: 10px;
  padding-bottom: 50px;
}

#main-content #next-step h2 {
  margin-bottom: 35px;
}

#main-content label {
  font-size: 15px;
  background: #4EA0FF;
  color: #fff;
  padding: 2px 6px 2.5px;
  border-radius: 4px;
}
