#tutorial-nav {
  margin-top: 5px;
  position: fixed;
}

#tutorial-nav span {
  font-size: 12px;
  text-transform: uppercase;
  color: #818181;
}

#tutorial-nav ul {
  padding: 0;
  list-style: none;
}

#tutorial-nav ul li {
  font-size: 14px;
  color: #35373B;
  line-height: 28px;
  cursor: pointer;
}

#tutorial-nav ul li:hover,
#tutorial-nav ul li:focus {
  opacity: .7;
}

#tutorial-nav ul li a {
  text-decoration: none;
  color: #35373B;
  display: block;
  height: 100%;
}

#tutorial-nav .back-btn {
  margin-top: 30px;
}

#tutorial-nav .version {
  height: 17px;
  margin-bottom: 15px;
}

#tutorial-nav .selected {
  font-weight: 500;
  color: #4EA0FF;
}

#dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

/* TODO change focus style */
#dropdown select:focus,
#dropdown select:hover {
  outline: 0;
}

#dropdown span {
  margin-bottom: 10px;
}

#dropdown select {
  background-color: #E9E9E9;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 6px 50%;
  text-indent: 22px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  height: 36px;
  width: 138px;
  padding-left: 10px;
  appearance: none;
}

@-moz-document url-prefix() {
    #dropdown select {
       text-indent: 10px;
    }
}

#dropdown .arrow-down {
  position: absolute;
  margin-top: 38px;
  margin-left: 120px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}
