@import url('https://rsms.me/inter/inter-ui.css');

/****************
 * FONTS.COM
 ****************/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=da2a03d1-cfb1-47c9-86ba-605e80e9e9b1");

body {
	font-family: 'Inter UI', 'Helvetica', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
}

#root {
	width: 100%;
	max-width: 1220px;
}
